/* play-regular - cyrillic_latin */
@font-face {
  font-display: swap;
  font-family: 'Play';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/play-v19-cyrillic_latin-regular.woff2') format('woff2');
}
/* play-700 - cyrillic_latin */
@font-face {
  font-display: swap;
  font-family: 'Play';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/play-v19-cyrillic_latin-700.woff2') format('woff2');
}

/* roboto-regular - cyrillic_latin */
@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v30-cyrillic_latin-regular.woff2') format('woff2');
}
/* roboto-700 - cyrillic_latin */
@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/roboto-v30-cyrillic_latin-700.woff2') format('woff2');
}

:root {
  --color-brand: #2b7fff;
  --color-primary-dark: #011c44;
  --color-primary-light: #fff;
  --color-secondary-dark: #4a4a4a;
}

/* Base */
body {
  color: var(--color-primary-dark);
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 24px;
}

/*Button */
.button {
  width: 220px;
  height: 54px;
  padding: 16px 32px;
  color: var(--color-primary-light);
  background-color: var(--color-brand);
  border-radius: 32px;
  cursor: pointer;
  font-weight: 600;
  margin-bottom: 14px;
}

.button:hover {
  color: var(--color-brand);
  background-color: transparent;
}

/* Link */
/* Link */
.link {
  color: var(--color-primary-dark);
  text-decoration: none;
}

.link:hover {
  color: var(--color-brand);
}

/*Header*/
.header-container {
  padding: 0 16px 16px 16px;
  height: 106px;
  display: flex;
  align-items: center;
  gap: 40px;
}

.adress-icon {
  fill: var(--color-primary-light);
}

.header-nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 40px;
}

.header-menu {
  display: flex;
  gap: 56px;
  flex-grow: 1;
  justify-content: center;
}

/* Hero section */
.hero-section {
  background-image: url(../images/lady-doctor.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.container.hero {
  margin-left: 800px;
  padding: 0 0 96px 0;
}

.main-paragraph {
  color: var(--color-primary-dark);
  margin-bottom: 16px;
  font-size: 18px;
  max-width: 530px;
}

.hero-title {
  line-height: 0.9;
  max-width: 530px;
  margin-bottom: 40px;
  color: var(--color-brand);
  font-family: 'Play', sans-serif;
  text-transform: capitalize;
  font-size: 140px;
  font-weight: 700;
  font-style: normal;
}

.paragraph-hero {
  color: var(--color-secondary-dark);
  font-size: 12px;
  max-width: 238px;
  text-align: center;
}

/* Aboutus-section */
.reincarnation-section {
  padding: 28px 0 92px 0;
}

.reincarnation-container {
  justify-content: space-between;
  padding: 96px 0 190px 0;
  display: flex;
  gap: 32px;
}

.section-title {
  max-width: 530px;
  margin-bottom: 40px;
  color: var(--color-brand);
  font-family: 'Play', sans-serif;
  font-size: 64px;
  font-weight: 700;
}

.section-title .accent {
  color: var(--color-primary-dark);
}

.section-title .capitalize {
  text-transform: capitalize;
}

.write-paragraph {
  max-width: 709px;
  margin-bottom: 40px;
  font-size: 22px;
}

.write-paragraph span {
  color: var(--color-primary-dark);
  font-weight: 600;
  text-transform: capitalize;
  color: var(--color-brand);
}

.photo {
  max-width: 500px;
  max-height: 695px;
}

/* Whyus-section */
.whypeople-section {
  padding: 92px 0 48px 0;
}

.format-text {
  display: flex;
  gap: 56px;
  justify-content: space-between;
}

.format-border {
  display: flex;
  max-width: 252px;
  align-self: center;
  text-align: center;
}

.format-advantages {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border: 1px solid lightgray;
  border-radius: 32px;
  width: 316px;
  height: 181px;
  padding: 0 32px;
  margin: 0;
}

/* Procedures-section*/
.ourprocedures-section {
  padding: 48px 0;
}

.primary-light {
  color: var(--color-primary-light);
  background-color: red;
  font-size: 22px;
}

/* Contact-section */
.foundus-section {
  padding: 48px 0 96px 0;
}

.free-present {
  font-weight: 600;
  font-size: 22px;
}

.free-brand {
  color: var(--color-brand);
}

.privacy-policy {
  font-size: 12px;
}

.link-privacy-policy {
  text-decoration: underline;
  font-size: 12px;
}

.link-privacy-policy:hover {
  text-decoration: none;
  color: var(--color-brand);
  font-weight: 700;
  cursor: pointer;
  font-size: 12px;
}

/* Footer */
.link {
  color: var(--color-primary-light);
}

.address-link {
  color: var(--color-primary-light);
  font-style: normal;
  text-decoration: none;
  font-size: 16px;
}
.address-link:hover {
  color: var(--color-brand);
}

.address-copyright {
  font-size: 13px;
}

.footer {
  background-color: var(--color-primary-dark);
}
