/* play-regular - cyrillic_latin */
@font-face {
  font-display: swap;
  font-family: 'Play';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/play-v19-cyrillic_latin-regular.woff2') format('woff2');
}
/* play-700 - cyrillic_latin */
@font-face {
  font-display: swap;
  font-family: 'Play';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/play-v19-cyrillic_latin-700.woff2') format('woff2');
}

/* roboto-regular - cyrillic_latin */
@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v30-cyrillic_latin-regular.woff2') format('woff2');
}
/* roboto-700 - cyrillic_latin */
@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/roboto-v30-cyrillic_latin-700.woff2') format('woff2');
}

:root {
  --color-brand: #2b7fff;
  --color-primary-dark: #011c44;
  --color-primary-light: #fff;
  --color-secondary-dark: #4a4a4a;
  --color-secondary-light-dark: #747272;
}

/* Base */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: var(--color-primary-dark);
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

a {
  display: inline-block;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 24px;
}

/*Button */
.button {
  width: 220px;
  height: 54px;
  padding: 16px 32px;
  color: var(--color-primary-light);
  background-color: var(--color-brand);
  border-radius: 32px;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 14px;
}

.button:hover {
  color: var(--color-brand);
  background-color: transparent;
}

/* Link */
/* Link */
.link {
  color: var(--color-primary-dark);
  text-decoration: none;
}

.link:hover {
  color: var(--color-brand);
}

/*Header*/
.header-container {
  padding: 0 16px 16px 16px;
  height: 106px;
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 40px;
}

.header-menu {
  display: flex;
  gap: 56px;
  flex-grow: 1;
  justify-content: center;
}

.header-icon {
  display: flex;
}

.body-icon {
  fill: var(--color-primary-dark);
}

/* Hero section */
.hero-section {
  background-image: url(../images/lady-doctor.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.container.hero {
  margin-left: 800px;
  padding: 0 0 96px 0;
}

.main-paragraph {
  color: var(--color-primary-dark);
  margin-bottom: 16px;
  font-size: 18px;
  max-width: 530px;
}

.hero-title {
  line-height: 0.9;
  max-width: 530px;
  margin-bottom: 40px;
  color: var(--color-brand);
  font-family: 'Play', sans-serif;
  text-transform: capitalize;
  font-size: 140px;
  font-weight: 700;
  font-style: normal;
}

.paragraph-hero {
  color: var(--color-secondary-dark);
  font-size: 12px;
  max-width: 238px;
  text-align: center;
}

/* Aboutus-section */
.reincarnation-section {
  padding: 28px 0 92px 0;
}

.reincarnation-container {
  justify-content: space-between;
  padding: 96px 0 190px 0;
  display: flex;
  gap: 32px;
}

.section-title {
  max-width: 530px;
  margin-bottom: 40px;
  color: var(--color-brand);
  font-family: 'Play', sans-serif;
  font-size: 64px;
  font-weight: 700;
}

.section-title .accent {
  color: var(--color-primary-dark);
}

.section-title .capitalize {
  text-transform: capitalize;
}

.write-paragraph {
  max-width: 709px;
  margin-bottom: 40px;
  font-size: 22px;
}

.write-paragraph span {
  color: var(--color-primary-dark);
  font-weight: 600;
  text-transform: capitalize;
  color: var(--color-brand);
}

.photo {
  max-width: 500px;
  max-height: 695px;
}

.photo-circle {
  border-radius: 50%;
  box-shadow: 0 4px 4px 0 rgba(168, 198, 245, 0.2);
}

/* Whyus-section */
.section-title.centered {
  text-align: center;
  margin: 0 auto 48px;
}

.whypeople-section {
  padding: 92px 0 48px 0;
}

.format-text {
  display: flex;
  gap: 56px;
  justify-content: space-between;
}

.format-border {
  display: flex;
  max-width: 252px;
  align-self: center;
  text-align: center;
}

.format-advantages {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border: 1px solid lightgray;
  border-radius: 32px;
  width: 316px;
  height: 181px;
  padding: 0 32px;
  margin: 0;
}

/* Procedures-section*/
.ourprocedures-section {
  padding: 48px 0;
}

.ourprocedures-text {
  max-width: 152px;
  color: var(--color-primary-light);
  background-color: red;
  font-size: 22px;
}

.ourprocedures-container {
  display: flex;
  align-items: center;
  gap: 32px;
  justify-content: center;
  margin: auto;
}

.ourprocedures-item {
  flex-basis: calc((100% - 32px) / 3);
}

.ourprocedures-list {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.ourprocedures-card {
  width: 344px;
  height: 456px;
  padding: 32px;
  border: 1px solid lightgray; /*remove*/
  border-radius: 4px 120px 4px 120px;
}

/* Carousel */
.carousel-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 44px;
  height: 44px;
  padding: 0;
  fill: var(--color-primary-dark);
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid var(--color-primary-dark);
  cursor: pointer;
}

.carousel-button:hover {
  background-color: var(--color-primary-dark);
  fill: var(--color-primary-light);
}

/* Contact-section */
.contact-container {
  display: flex;
  gap: 32px;
}

.contact-map {
  flex-shrink: 0;
  border: none;
  border-radius: 32px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 422px;
  padding: 48px 56px;
  background-color: var(--color-primary-dark);
  border-radius: 32px;
}

.foundus-section {
  padding: 48px 0 96px 0;
}

.free-present {
  font-weight: 600;
  font-size: 22px;
  max-width: 274px;
  color: var(--color-primary-light);
}

.free-brand {
  color: var(--color-brand);
}

.privacy-policy {
  max-width: 213px;
  font-size: 12px;
  color: var(--color-secondary-light-dark);
  text-align: center;
}

.link-privacy-policy {
  text-decoration: underline;
  font-size: 12px;
  color: var(--color-secondary-light-dark);
}

.link-privacy-policy:hover {
  text-decoration: none;
  color: var(--color-primary-light);
  font-weight: 700;
  cursor: pointer;
  font-size: 12px;
}

.button.contact {
  width: 281px;
}

/* Footer */
.footer {
  padding: 56px 0;
  background-color: var(--color-primary-dark);
}

.footer-container {
  display: flex;
  gap: 20px;
}

.footer-nav {
  display: flex;
  flex-basis: 50%;
  gap: 20px;
}

.footer-logo {
  flex-grow: 1;
}

.footer-menu {
  flex-grow: 1;
}

.footer-address {
  display: flex;
  flex-basis: 50%;
  gap: 20px;
}

.link-footer {
  color: var(--color-primary-light);
  text-decoration: none;
}

.link-footer:hover {
  color: var(--color-brand);
}

.address-list {
  flex-grow: 1;
}

.address-info {
  flex-grow: 1;
}

.address-link {
  color: var(--color-primary-light);
  font-style: normal;
  text-decoration: none;
  font-size: 16px;
}
.address-link:hover {
  color: var(--color-brand);
}

.footer-icon {
  display: flex;
}

.address-icon {
  fill: var(--color-primary-light);
}

.address-icon:hover {
  fill: var(--color-brand);
}

.address-copyright {
  font-size: 13px;
  color: var(--color-primary-light);
}
